{% extends 'base.html.twig' %}

{% block body %}
	{% for message in app.flashes('notice') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}

    {% if usersToFollow|length > 0 %}
        <p>Você não segue ninguém no momento.<p>
        <p>Por quê não segue algum dos usuários abaixo para começarmos? ;)</p>

        {% for userToFollow in usersToFollow %}
            <a href="{{ path('following_follow', {'id': userToFollow.id}) }}">@{{ userToFollow.username }}</a>
        {% endfor %}

    {% else %}
    	{% if is_granted('ROLE_USER') %}
            <small class="text-right mt-3 btn btn-info float-right" style="margin: 20px 0;">
                <a href="{{ path('micro_post_add') }}" style="text-decoration: none; color: white">Adicionar novo post</a>
            </small>
        {% endif %}

        <div style="clear: both;"></div>

        <h6 class="border-bottom border-gray pb-2 mb-0">Updates Recentes</h6>
        {% for post in posts %}
    		{{ include('micro-post/raw-post.html.twig', { 'post': post }) }}
    		<small class="d-block text-right mt-3  border-bottom border-gray">
    			{% if is_granted('edit', post) %}
                	<a href="{{ path('micro_post_edit', {'id': post.id }) }}">Editar</a>
            	{% endif %}
            	{% if is_granted('delete', post) %}
                	<a href="{{ path('micro_post_delete', {'id': post.id }) }}">Deletar</a>
                {% endif %}
            </small>
        {% endfor %}
    {% endif %}
{% endblock %}