<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MicroPost App!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    {% endblock %}
</head>
<body class="bg-light">

<nav class="navbar navbar-dark navbar-expand-md sticky-top bg-dark p-0" style="padding-left: 400px;">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0"  
       href="{{ path('micro_post_index') }}">Micro Post App</a>
    <div class="w-100 order-1 order-md-0" style="margin-left: 200px;">
        <ul class="navbar-nav px-3">
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="{{ path('micro_post_add') }}">Adicionar Novo Post</a>
                </li>
            {% endif %}
        </ul>
    </div>

    <div class="order-2 order-md-1">
        <ul class="navbar-nav px-3" style="margin-right: 400px;">
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item text-nowrap border-right border-secondary">
                    <a class="nav-link"
                        href="{{ path('notifications_all') }}" >Notificações
                        <span class="badge badge-light" id="notifications-count">
                            <i class="fa fa-circle fa-circle-o-notch fa-spin"></i>
                        </span>
                    </a>
                </li>

                <li class="nav-item text-nowrap">
                    <a class="nav-link"
                       href="#">{{ app.user.fullName }}</a>
                </li>
                <li class="nav-item text-nowrap">
                    <a class="nav-link"
                       href="{{ path('security_logout') }}">Sair</a>
                </li>
            {% else %}
                <li class="nav-item text-nowrap">
                    <a class="nav-link"
                       href="{{ path('security_login') }}">Entrar</a>
                </li>

                <li class="nav-item text-nowrap">
                    <a class="nav-link"
                       href="{{ path('user_register') }}">Registrar</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<main role="main" class="container">
    <div class="my-3 p-3 bg-white rounded box-shadow">
        
        {% block body %}
        {% endblock %}
    </div>
    
</main>
{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>

    {% if is_granted('ROLE_USER') %}
        <script>
            function fetchNotificationCount() {
                fetch(
                    '{{ path('notifications_unread') }}',
                    {'credentials' : 'include'}
                ).then(function (response) {
                    response.json().then(function (json) {
                        document.getElementById('notifications-count').innerText = json.count;
                        setTimeout(fetchNotificationCount, 5000);
                    });
                }).catch(function (reason) {

                });
            }

            fetchNotificationCount();
        </script>
    {% endif %}
{% endblock %}
</body>
</html>